# NeonDB
DATABASE_URL=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/dbname?sslmode=require

# NextAuth
AUTH_SECRET=           # Generate with: openssl rand -base64 32
AUTH_GOOGLE_ID=        # Google OAuth Client ID
AUTH_GOOGLE_SECRET=    # Google OAuth Client Secret
AUTH_URL=http://localhost:3000

# Gemini
GOOGLE_GEMINI_API_KEY= # Get from https://aistudio.google.com/apikey
